body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

.center-element {
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

.block-display {
    display: block;
}

.inline-display {
    display: inline-block;
}

.simple-text-color {
    color: #707070;
}

.custom-button {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(250, 250, 250);
    background-color: #FF5959;
    width: 110px;
    height: 24px;
    padding: 16px 19.086px 16px 19.086px;
    border-radius: 8px;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
}

h1 {
    margin: 0;
}

#banner {
    height: 489px;
    padding-top: 180px;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner-gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)93%);
}

#banner-slogan {
    font-size: 55px;
    font-weight: bold;
    color: #fff;
    width: 1000px;
}

#banner-text {
    font-size: 18px;
    color: #fff;
    width: 700px;
    height: auto;
    margin-bottom: 30px;
}

#dono-amount {
    margin-top: 130px;
}

h2 {
    margin: 0px;
}

.dono-header {
    font-size: 45px;
}

.dono-text {
    font-size: 18px;
}

.options-container {
    width: auto;
    height: max-content;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.amount-option {
    width: 135px;
    height: 123px;
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    line-height: 123px;
    color: #707070;
    margin: 0px 11px 0 11px;
}

.selected-amount-option {
    width: 131px;
    height: 119px;
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    line-height: 119px;
    color: #FF5959;
}


.other-dono {
    width: 765px;
    height: 29px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.money-input {
    height: inherit;
    width: inherit;
    padding-bottom: 9px;
    border: 0;
    border-bottom: 2px solid #FF5959;
    font-size: 18px;
}

#dono-plan {
    margin-top: 135px;
}

.dono-detail {
    width: 315px;
    height: 289px;
    margin: 0px 12px 0 12px;
    padding: 63.5px 22px 0 23px;
    border-radius: 6px;
}

h3 {
    margin: 0;
}

.dono-plan-head {
    font-size: 24px;
    padding-top: 28px;
}

.dono-plan-text {
    font-size: 16px;
    padding-top: 12px;
    line-height: 22px;
}

.lefty-element {
    margin: 0;
}

.lefty-text {
    text-align: start;
}

.back-color-one {
    background-color: #4f9da60a;
}

.back-color-two {
    background-color: #ff59590a;
}

.back-color-three {
    background-color: #fff4d67c;
}

.back-color-four {
    background-color: #c08d0159;
    box-shadow: 10px 10px 5px rgba(36, 19, 0, 0.158);
}

#contact {
    margin-top: 135px;
}

.contact-detail {
    width: 315px;
    height: 240px;
    margin: 0px 12px 0 12px;
    padding: 25px 22px 0 23px;
    border-radius: 6px;
}

#dono-update {
    margin-top: 135px;
}

.dim-adjust-dono-update {
    width: 809px;
    height: 200px;
    background-color: #FFF4D6;
}

.email-input-field {
    width: 432px;
    height: 48px;
    display: inline-flex;
}

.email-input {
    height: inherit;
    width: 258px;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: inherit;
    background-color: #D9D9D9;
    padding: 0;
    padding-left: 17px;
}

button {
    padding: 0;
    border: 0;
}

.sub-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgb(250, 250, 250);
    background-color: #FF5959;
    width: 157px;
    height: 48px;
    line-height: 48px;
    border-radius: 0 5px 5px 0;
}

.center-content-vert {
    margin-top: auto;
    margin-bottom: auto;
}

footer {
    margin: 0;
    margin-top: 130px;
    background-color: #0B0D17;
}

#footer-notes {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 42px;
    font-family: 'Lobster', cursive;
    color: #FF5959;
    font-size: 36px;
    line-height: 42px;
    width: fit-content;
}

#footer-text {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 24px;
    padding-bottom: 42px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    width: fit-content;
}